<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mikolaj-app: main page</title>

    <link href="../../css/style.css" rel="stylesheet" >

</head>
<body>

<div id="container">

    <div id="logo">
        Witaj w aplikacji mikolaj-aP<img src="http://localhost:8080/images/znak.jpeg" height="10%" width="2%">
    </div>

    <div id="menu">
        <a href="http://localhost:8080/main"><div class="option">
            Stroga główna </div></a>

        <a href="http://localhost:8080/save"><div class="option">
            Zarezerwuj miejsce </div></a>

        <a href="http://localhost:8080/search"><div class="option">
            Znajdz rezerwację</div></a>

        <div style="clear: both"></div>
    </div>

    <div id="content">
        <div id="contentL">
            <img src="http://localhost:8080/images/biurowce.jpeg" height="100%" width="100%">
        </div>
        <div id="contentR">
            Witaj w mojej aplikacji.
            Aplikacja ta słuzy rezerwacji miejsca parkinkowego w twoim biurowcu!
            zapraszam do przetestowania!Witaj w mojej aplikacji.
            Aplikacja ta słuzy rezerwacji miejsca parkinkowego w twoim biurowcu!
            zapraszam do przetestowania!Witaj w mojej aplikacji.
            Aplikacja ta słuzy rezerwacji miejsca parkinkowego w twoim biurowcu!
            zapraszam do przetestowania!Witaj w mojej aplikacji.
            Aplikacja ta słuzy rezerwacji miejsca parkinkowego w twoim biurowcu!
            zapraszam do przetestowania!
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="footer">
        mikolaj-aPP &copy;2018
    </div>

</div>

</body>
</html>