<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mikolaj-app: saved page</title>

    <link rel="stylesheet" href="../../css/style.css">

</head>
<body>

<div id="container">

    <div id="logo">
        Rezerwacja zostala dodatan
    </div>

    <div id="menu">
        <div class="option">Stroga główna</div>
        <div class="option">Zarezerwuj miejsce</div>
        <div class="option">Znajdz rezerwację</div>
        <div style="clear: both"></div>
    </div>

    <div id="content">
        <div id="contentL">
            <img src="../files/biurowce.jpeg" height="100%" width="100%">
        </div>
        <div id="contentR">

        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="footer">
        mikolaj-aPP &copy;2018
    </div>

</div>

</body>
</html>